*, *::before, *::after {
  box-sizing: border-box;
  font-family: sans-serif;
}

.active {
  color: #19dafa !important;
}

.container {
  width: 100%;
  height: 100%;
  background-color: #42455a;
}

.menu ul {
  display: inline-flex;
  margin: 50px;
}

.menu ul li {
  list-style: none;
  margin: 0 20px;
  color: #b2b1b1;
  cursor: pointer;
}

#mapDisplay {
  display: inline;
  background-color: #42455a;
  height: 600px;
  border-top: 10px;
  width: 75%
}

#results {
  display: inline;
  background-color: #b2b1b1;
  height: 600px;
  border-top: 10px;
  width: 25%
}

#pac-input {
  width: 28rem;
}

#map {
  height: 500px;
  width: 500px;
}