body {
  height: 100%;
}

*, *::before, *::after {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  background-color: rgb(21, 78, 124);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1.5rem;
  height: fit-content;
  border-bottom: 0.5rem solid black;
}

header img {
  float: left;
  left: 2rem;
  width: 6.25rem;
  height: 6.25rem;
  border: 0.5rem solid rgb(0, 68, 77)
}

#title {
  text-align: center;
  padding-right: 6rem;
  font-size: 6rem;
  color: rgb(204, 243, 255);
}

#tagline {
  text-align: center;
  font-size: 3rem;
  color: rgb(204, 243, 255);
}

.container {
  width: 100%;
  height: calc(100% - 16.8rem);
  background-color: #42455a;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.header {
  font-size: 20px;
  margin-left: 20px;
}

#map {
  height: 100%;
  width: calc(100% - 0.5rem);
}

.row-1 {
  width: 100%;
  height: 8.3%;
}

.row-11 {
  width: 100%;
  height: 91.7%;
}

.column-6 {
  float: left;
  background-color: #42455a;
  height: 100%;
  width: 50%;
  margin-right: 0px;
  border-top: 10px;
}

#results {
  background-color: #b2b1b1;
  width: 100%;
  height: 100%;
  border-top: 10px;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(21, 78, 124);
  text-align: center;
  color: white;
  padding: 2rem;
  border-top: 0.5rem solid black;
}

@media only screen and (max-width: 835px) {
  header {
    text-align: center;
  }
  header img {
    float: none;
    width: 12rem;
    height: calc(12rem);
  }
  #title {
    font-size: 6rem;
    padding-right: 0px;
  }
  .container {
    height: calc(100% + 50rem);
  }
  .column-6 {
    float: none;
    width: 100%;
    height: 45%;
    margin-bottom: 2rem;
  }
  #map {
    width: 100%;
  }
}